wsdl/CategoryReq.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax27="http://entry.idp.com/xsd" xmlns:ns="http://service.idp.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.idp.com">
<wsdl:documentation>CategoryReq</wsdl:documentation>
<wsdl:types>
<xs:schema xmlns:ax28="http://entry.idp.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.idp.com">
<xs:import namespace="http://entry.idp.com/xsd"/>
<xs:element name="categorySyncReq">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="categoryReq" nillable="true" type="ax28:CategoryReq"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="categorySyncReqResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="ax28:ResultInfo1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entry.idp.com/xsd">
<xs:complexType name="CategoryReq">
<xs:sequence>
<xs:element minOccurs="0" name="COPID" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="SOPID" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="categoryId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="categoryType" nillable="true" type="xs:int"/>
<xs:element minOccurs="0" name="correlateId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="fatherId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="fatherIds" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="hidden" nillable="true" type="xs:int"/>
<xs:element minOccurs="0" name="introduce" nillable="true" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="posters" nillable="true" type="ax27:Poster"/>
<xs:element minOccurs="0" name="sortIndex" nillable="true" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Poster">
<xs:sequence>
<xs:element minOccurs="0" name="type" nillable="true" type="xs:int"/>
<xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ResultInfo1">
<xs:sequence>
<xs:element minOccurs="0" name="correlateId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="resultCode" type="xs:int"/>
<xs:element minOccurs="0" name="resultDesc" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="categorySyncReqRequest">
<wsdl:part name="parameters" element="ns:categorySyncReq"/>
</wsdl:message>
<wsdl:message name="categorySyncReqResponse">
<wsdl:part name="parameters" element="ns:categorySyncReqResponse"/>
</wsdl:message>
<wsdl:portType name="CategoryReqPortType">
<wsdl:operation name="categorySyncReq">
<wsdl:input message="ns:categorySyncReqRequest" wsaw:Action="urn:categorySyncReq"/>
<wsdl:output message="ns:categorySyncReqResponse" wsaw:Action="urn:categorySyncReqResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CategoryReqSoap11Binding" type="ns:CategoryReqPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="categorySyncReq">
<soap:operation soapAction="urn:categorySyncReq" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="CategoryReqHttpBinding" type="ns:CategoryReqPortType">
<http:binding verb="POST"/>
<wsdl:operation name="categorySyncReq">
<http:operation location="categorySyncReq"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CategoryReq">
<wsdl:port name="CategoryReqHttpSoap11Endpoint" binding="ns:CategoryReqSoap11Binding">
<soap:address location="http://124.116.129.62:8093/SxIptvSOAP/services/CategoryReq.CategoryReqHttpSoap11Endpoint/"/>
</wsdl:port>
<wsdl:port name="CategoryReqHttpEndpoint" binding="ns:CategoryReqHttpBinding">
<http:address location="http://124.116.129.62:8093/SxIptvSOAP/services/CategoryReq.CategoryReqHttpEndpoint/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>