wsdl/ContentReq.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://entry.idp.com/xsd" xmlns:ns="http://service.idp.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.idp.com">
<wsdl:documentation>ContentReq</wsdl:documentation>
<wsdl:types>
<xs:schema xmlns:ax210="http://entry.idp.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.idp.com">
<xs:import namespace="http://entry.idp.com/xsd"/>
<xs:element name="contentSyncReq">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="contentReq" nillable="true" type="ax29:ContentReq"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="contentSyncReqResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="ax29:ResultInfo1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entry.idp.com/xsd">
<xs:complexType name="ContentReq">
<xs:sequence>
<xs:element minOccurs="0" name="COPID" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="SOPID" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="categoryId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="contentId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="contentName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="contentType" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="correlateId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="imageDescs" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="images" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="imagesSmall" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="imagesSmallDescs" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="organizationId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="sortIndex" nillable="true" type="xs:int"/>
<xs:element minOccurs="0" name="videoUrl" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ResultInfo1">
<xs:sequence>
<xs:element minOccurs="0" name="correlateId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="resultCode" type="xs:int"/>
<xs:element minOccurs="0" name="resultDesc" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="contentSyncReqRequest">
<wsdl:part name="parameters" element="ns:contentSyncReq"/>
</wsdl:message>
<wsdl:message name="contentSyncReqResponse">
<wsdl:part name="parameters" element="ns:contentSyncReqResponse"/>
</wsdl:message>
<wsdl:portType name="ContentReqPortType">
<wsdl:operation name="contentSyncReq">
<wsdl:input message="ns:contentSyncReqRequest" wsaw:Action="urn:contentSyncReq"/>
<wsdl:output message="ns:contentSyncReqResponse" wsaw:Action="urn:contentSyncReqResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ContentReqSoap11Binding" type="ns:ContentReqPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="contentSyncReq">
<soap:operation soapAction="urn:contentSyncReq" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="ContentReqHttpBinding" type="ns:ContentReqPortType">
<http:binding verb="POST"/>
<wsdl:operation name="contentSyncReq">
<http:operation location="contentSyncReq"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ContentReq">
<wsdl:port name="ContentReqHttpSoap11Endpoint" binding="ns:ContentReqSoap11Binding">
<soap:address location="http://124.116.129.62:8093/SxIptvSOAP/services/ContentReq.ContentReqHttpSoap11Endpoint/"/>
</wsdl:port>
<wsdl:port name="ContentReqHttpEndpoint" binding="ns:ContentReqHttpBinding">
<http:address location="http://124.116.129.62:8093/SxIptvSOAP/services/ContentReq.ContentReqHttpEndpoint/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>