wsdl/NotificationReq.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://service.idp.com" xmlns:ax211="http://entry.idp.com/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.idp.com">
    <wsdl:documentation>NotificationReq</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax212="http://entry.idp.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.idp.com">
            <xs:import namespace="http://entry.idp.com/xsd"/>
            <xs:element name="notificationSyncReq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="notificationReq" nillable="true" type="ax212:NotificationReq"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="notificationSyncReqResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:ResultInfo1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entry.idp.com/xsd">
            <xs:complexType name="NotificationReq">
                <xs:sequence>
                    <xs:element minOccurs="0" name="COPID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="SOPID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="contentId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="notification" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="notificationType" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResultInfo1">
                <xs:sequence>
                    <xs:element minOccurs="0" name="correlateId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="resultDesc" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="notificationSyncReqRequest">
        <wsdl:part name="parameters" element="ns:notificationSyncReq"/>
    </wsdl:message>
    <wsdl:message name="notificationSyncReqResponse">
        <wsdl:part name="parameters" element="ns:notificationSyncReqResponse"/>
    </wsdl:message>
    <wsdl:portType name="NotificationReqPortType">
        <wsdl:operation name="notificationSyncReq">
            <wsdl:input message="ns:notificationSyncReqRequest" wsaw:Action="urn:notificationSyncReq"/>
            <wsdl:output message="ns:notificationSyncReqResponse" wsaw:Action="urn:notificationSyncReqResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NotificationReqSoap11Binding" type="ns:NotificationReqPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="notificationSyncReq">
            <soap:operation soapAction="urn:notificationSyncReq" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NotificationReqHttpBinding" type="ns:NotificationReqPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="notificationSyncReq">
            <http:operation location="notificationSyncReq"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NotificationReq">
        <wsdl:port name="NotificationReqHttpSoap11Endpoint" binding="ns:NotificationReqSoap11Binding">
            <soap:address location="http://133.64.180.163:8091/SxIptvSOAP/services/NotificationReq.NotificationReqHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="NotificationReqHttpEndpoint" binding="ns:NotificationReqHttpBinding">
            <http:address location="http://133.64.180.163:8091/SxIptvSOAP/services/NotificationReq.NotificationReqHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
