webservice-client/2/src/ategoryReqc/RecommendReq.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax213="http://entry.idp.com/xsd" xmlns:ns="http://service.idp.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.idp.com">
<wsdl:documentation>RecommendReq</wsdl:documentation>
<wsdl:types>
<xs:schema xmlns:ax214="http://entry.idp.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.idp.com">
<xs:import namespace="http://entry.idp.com/xsd"/>
<xs:element name="recommendSyncReq">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="recommendReq" nillable="true" type="ax214:RecommendReq"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="recommendSyncReqResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="ax214:ResultInfo1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entry.idp.com/xsd">
<xs:complexType name="RecommendReq">
<xs:sequence>
<xs:element minOccurs="0" name="COPID" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="SOPID" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="correlateId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="imgUrl" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="introduce" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="position" nillable="true" type="xs:int"/>
<xs:element minOccurs="0" name="rContentId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="rId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="rName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="rType" nillable="true" type="xs:int"/>
<xs:element minOccurs="0" name="sortIndex" nillable="true" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ResultInfo1">
<xs:sequence>
<xs:element minOccurs="0" name="correlateId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="resultCode" type="xs:int"/>
<xs:element minOccurs="0" name="resultDesc" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="recommendSyncReqRequest">
<wsdl:part name="parameters" element="ns:recommendSyncReq"/>
</wsdl:message>
<wsdl:message name="recommendSyncReqResponse">
<wsdl:part name="parameters" element="ns:recommendSyncReqResponse"/>
</wsdl:message>
<wsdl:portType name="RecommendReqPortType">
<wsdl:operation name="recommendSyncReq">
<wsdl:input message="ns:recommendSyncReqRequest" wsaw:Action="urn:recommendSyncReq"/>
<wsdl:output message="ns:recommendSyncReqResponse" wsaw:Action="urn:recommendSyncReqResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="RecommendReqSoap11Binding" type="ns:RecommendReqPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="recommendSyncReq">
<soap:operation soapAction="urn:recommendSyncReq" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="RecommendReqHttpBinding" type="ns:RecommendReqPortType">
<http:binding verb="POST"/>
<wsdl:operation name="recommendSyncReq">
<http:operation location="recommendSyncReq"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="RecommendReq">
<wsdl:port name="RecommendReqHttpSoap11Endpoint" binding="ns:RecommendReqSoap11Binding">
<soap:address location="http://124.116.129.62:8093/SxIptvSOAP/services/RecommendReq.RecommendReqHttpSoap11Endpoint/"/>
</wsdl:port>
<wsdl:port name="RecommendReqHttpEndpoint" binding="ns:RecommendReqHttpBinding">
<http:address location="http://124.116.129.62:8093/SxIptvSOAP/services/RecommendReq.RecommendReqHttpEndpoint/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>